.patients-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.search-bar-patients {
    padding: 12px 0px 12px 0px;
}

.button-icon-spacing {
    margin-right: 8px;
}